<%- include("header.ejs")%>
                    <div class="div-apresentacao col-9 p-subtitulo">
                        <section>
                            <h2>Cupcakes</h2>
                            <div class="div-separator"></div>
                            <p>Sua jornada gourmet começa com nossos cupcakes irresistíveis</p>
                        </section>
                        <section class="section-cupcakes">
                            <ul class="row">
                                <%cupcakes.forEach((item,n)=>{ %>
                                    <li class="col-3">
                                        <div class="img-cupcakes">
                                            <img src="images/<%=item.img%>">
                                        </div>
                                        <h3><%=item.nome%></h3>
                                        <div class="span-descricao">
                                            <span><%=item.descricao%></span>
                                        </div>
                                        <p>R$<%=item.preco.toFixed(2).replace(".", ",")%></p>
                                        <button data-id="<%=item.id%>" data-toggle="modal" data-target="#modal-info" class="btn-comprar">Comprar</button>
                                    </li>
                                <% }) %>
                            </ul>   
                        </section>
                    </div>
                </div>
            </section>
            <div class="modal mt-5 pt-5" id="modal-info">
                <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-body">
                            <img class="img-cupcake-info" src="images/cupcake-azul.png">
                             <p class="mensagem text-dark">Ebaa! Cupcake adicionado ao carrinho!</p>
                         </div>
                         <div class="modal-footer text-center">
                            <button type="button" class="modal-btn-close button" data-dismiss="modal">Fechar</button>
                          </div>
                     </div>
                 </div>
             </div>
        </main>
    </div>
</body>
</html>